.contBox {
    width: 441px;
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px 0px #00000040;
  }
  
  .headerBox {
    text-align: center;
  }
  
  .headerBox h2,
  .headerBox h5 {
    margin: 5px;
  }
  
  .headerBox h5 {
    color: gray;
  }
  
  .contInputs {
    display: flex;
    justify-content: center;
  }
  
  .link {
    text-align: end;
    margin-bottom: 20px;
  }
  
  .contButtons {
    display: flex;
    justify-content: space-between;
  }
  
  .contButtons button {
    width: 144px;
    background-color: #b21222;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: bold;
  }
  
  .contButtons button:hover {
    background-color: #ffffff;
    color: #b21222;
    border: 1px solid #b21222;
  }
  
  .passInput,
  .emailInput {
    direction: rtl;
    text-align: right;
  }
  
  .emailInput input::placeholder {
    text-align: start;
  }
  