.contBox {
  width: 400px;
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px 0px #00000040;
}

.headerBox {
  text-align: center;
}

.headerBox h2,
.headerBox h5 {
  margin: 5px;
}

.headerBox h5 {
  color: gray;
  font-size: 10px;
}

.contInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contButtons {
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
}

.contButtons button {
  width: 130px;
  margin-top: 6px;
  /* margin: 6px; */
  background-color: #b21222;
  border-radius: 8px;
  transition: 0.3s;
  font-size: 13px;
  font-weight: bold;
}

.contButtons button:hover {
  background-color: #ffffff;
  color: #b21222;
  border: 1px solid #b21222;
}

.codeInput {
  direction: rtl;
  text-align: right;
}

.codeInput input::placeholder {
  text-align: start;
}
